{% extends 'base.html' %}
{% block title %}Create New Trip{% endblock %}

{% block body %}

<div class="new-trip">
    <h1>Create New Trip:</h1>
    <form action="/new_trip" method="POST">

        <p>
          Trip Name <input type="trip-name" name="trip-name">
        </p>

        <p>
          Country <input type="trip-country" name="trip-country">
        </p>
      
        <p>
          City <input type="trip-city" name="trip-city">
        </p>
      
        <p>
          Start Date <input type="date" id=start-date" name="start-date">
        </p>
      
        <p>
          End Date <input type="date" id="end-date" name="end-date">
        </p>
      
        <p>
          <input type="submit" value="Create Trip and Start Planning">
        </p>
      </form> 
</div>

{% endblock %}