{% extends 'base.html' %}
{% block title %}Trip Planner{% endblock %}

{% block body %}

<div class="planner-title">
    <h1>
        Trip Planner
    </h1>
</div>

<div class="trip-name">
    <h2>
       {{ trip_name }} 
    </h2>
</div>

<div class="trip-place">
    <h3>
        {{ trip_city }} , {{ trip_country }}
    </h3>
</div>

<div class="trip-dates">
    {{ start_date }} - {{ end_date }}
</div>

<div class="map-box">
    Map goes here
</div>

<div class="saved-places">
    Saved Places table goes here
</div>

<div class="itinerary">
    Itinerary tables by day goes here
</div>

{% endblock %}